{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
    <ul class="small-block-grid-4 medium-block-grid-6 large-block-grid-6">
        <a href="/sale/" style="color:red">SALE</a>
            <a class="thumbnail" href="/sale/"><img
                    src="https://lh3.googleusercontent.com/A7Iywozepo4L6hubV9IkW7HpVlvaV91F6CaIRqn47A9o2CCNK2hSzmPB8j4IcA6IuoTlUaSOgw2BICZxioOOO5xKB6JHvXHIwd876ule7WZxQzh0udx8KDxvhCllaNeuL-uemH8rkw=w600-h315-p-k"
                    alt="Used Tools" />
            </a>
            <a href="/new/" style="color:red">NEW TOOLS</a>
            <a class="thumbnail" href="/new/"><img
                    src="https://lh3.googleusercontent.com/TdLTpYYamliXsDZ6-yve_A4tzmFbkv2JcPRWl8z8GrEiCcvJCWmp9BLfYJZMtGVtctxLXqfV1AApIZPAMZt64Qtow27yraDDYXM7_-_Xg2yKIjLUoYYq0NBkccddz6FXAqOdtvITXA=w600-h315-p-k"
                    alt="New Tools" />
            </a>
    </ul>
</div>

{% endblock %}