{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}

<h1><center>New Tools</center></h1>

<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
    <a class="thumbnail"
        href="https://lh3.googleusercontent.com/3nCoGIZLXSRvnmzR--TlxymXhogdlO-1-YbW2O5FrAJE6jyDYPzC_zompTv2K0Tp2JQt5--m9Jdy9PnGc1hcjkXtD7H66Zy6z9rPZI3icdNuFKy5iiwOCR03y9hEqqxSWQK7daa6UA=w2400?source=screenshot.guru">
        <img src="https://lh3.googleusercontent.com/3nCoGIZLXSRvnmzR--TlxymXhogdlO-1-YbW2O5FrAJE6jyDYPzC_zompTv2K0Tp2JQt5--m9Jdy9PnGc1hcjkXtD7H66Zy6z9rPZI3icdNuFKy5iiwOCR03y9hEqqxSWQK7daa6UA=w538-h315-p-k"
            width="300" height="300" />
        <center>
            <h4 style="color:black">$80</h4>
        </center>
    </a>
    <a class="thumbnail"
        href="https://lh3.googleusercontent.com/mW0sOqGqRWG9-QoDvMeJSU57r50HW19OD6yYDwYL3pN_qphOCjcPtWYVkod5Pj67ef7KRwiAnJOLyWa2pkG3A_ZonOZzsPNS7-azmmmy4ZHtBdz760lOOQA2xt8GZCSqrivFXkBazw=w2400?source=screenshot.guru">
        <img src="https://lh3.googleusercontent.com/mW0sOqGqRWG9-QoDvMeJSU57r50HW19OD6yYDwYL3pN_qphOCjcPtWYVkod5Pj67ef7KRwiAnJOLyWa2pkG3A_ZonOZzsPNS7-azmmmy4ZHtBdz760lOOQA2xt8GZCSqrivFXkBazw=w472-h315-p-k"
            width="300" height="300" />
        <center>
            <h4 style="color:black">$5</h4>
        </center>
    </a>
    <a class="thumbnail"
        href="https://lh3.googleusercontent.com/Pv9-qRarielnhOZZ_PBkdrO3vfEJQAa_PtfVTVz79oXeQdsurnUm6paZU5awVfwhvk-jRO7i-4iBCL9IcKlSr1dxqrGUY7pC3mH9oAYsoe0ARMCXbK-N_QRAXOsMsBlVUczyYYKG_A=w2400?source=screenshot.guru">
        <img src="https://lh3.googleusercontent.com/Pv9-qRarielnhOZZ_PBkdrO3vfEJQAa_PtfVTVz79oXeQdsurnUm6paZU5awVfwhvk-jRO7i-4iBCL9IcKlSr1dxqrGUY7pC3mH9oAYsoe0ARMCXbK-N_QRAXOsMsBlVUczyYYKG_A=w320-h228-p-k"
            width="300" height="300" />
        <center>
            <h4 style="color:black">$20</h4>
        </center>
    </a>
    <a class="thumbnail"
        href="https://lh3.googleusercontent.com/gi5ueZmaJsHMUjVl2-WPda6ckkH45liAXw0VG8xqcS8mZloFy0mrTb9UjCSVY-KTj_2KsqPn1zyWocGzURU340c-HoXK3oc-SPna54pZTsrL90vWz3Get3vaKiN1ENT7yLxXZg8orw=w2400?source=screenshot.guru">
        <img src="https://lh3.googleusercontent.com/gi5ueZmaJsHMUjVl2-WPda6ckkH45liAXw0VG8xqcS8mZloFy0mrTb9UjCSVY-KTj_2KsqPn1zyWocGzURU340c-HoXK3oc-SPna54pZTsrL90vWz3Get3vaKiN1ENT7yLxXZg8orw=w559-h291-p-k"
            width="300" height="300" />
        <center>
            <h4 style="color:black">$15</h4>
        </center>
    </a>
    <a class="thumbnail"
        href="https://lh3.googleusercontent.com/jn_QItrwVqis5ufSCrDZda7ZPt_pAkTTyLhETb0OBymx-pMGXP5D2Ak3YWtcHkwDXaAPhe5lVkbqkRT_wOBx4kXCBRcf1Y9yOyFXdEancYrNs0NsR0GVhPAim8jGSMHFgCLAy3KL3w=w2400?source=screenshot.guru">
        <img src="https://lh3.googleusercontent.com/jn_QItrwVqis5ufSCrDZda7ZPt_pAkTTyLhETb0OBymx-pMGXP5D2Ak3YWtcHkwDXaAPhe5lVkbqkRT_wOBx4kXCBRcf1Y9yOyFXdEancYrNs0NsR0GVhPAim8jGSMHFgCLAy3KL3w=w557-h233-p-k"
            width="300" height="300" />
        <center>
            <h4 style="color:black">$20</h4>
        </center>
    </a>
    <a class="thumbnail"
        href="https://lh3.googleusercontent.com/KQ_NhmqNiWaooT2mJSx6cAclfFaPmik-GR8ISrL9sLfjVTlwt67dNebfa9nsxN1-3pBkZZcvozPzNOi8GN2A0ZPrFDvoPYRNULH3MNt6zhQdBbpTdknRqgPNvRgvJc62UCy8Gh5v4g=w2400?source=screenshot.guru">
        <img src="https://lh3.googleusercontent.com/KQ_NhmqNiWaooT2mJSx6cAclfFaPmik-GR8ISrL9sLfjVTlwt67dNebfa9nsxN1-3pBkZZcvozPzNOi8GN2A0ZPrFDvoPYRNULH3MNt6zhQdBbpTdknRqgPNvRgvJc62UCy8Gh5v4g=w600-h315-p-k"
            width="300" height="300" />
        <center>
            <h4 style="color:black">$40</h4>
        </center>
    </a>
</ul>
{% endblock %}